@model MovieLibrary.WebApp.Models.CommentDTO

<h4>Comments</h4>
<hr />
<div class="grid">
    <div class="row">
        <div class="col-md-4">
            <form class="form-floating" asp-action="PartialCreateComment" asp-controller="Movie" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="md-3" hidden>
                    <input asp-for="Id" class="form-control"/>
                </div>
                <div class="mb-3" hidden>
                    <input asp-for="MovieId" class="form-control"/>
                </div>
                <div class="mb-3" hidden>
                    <input asp-for="UserNickname" value="@User.Identity.Name" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Text" class="form-label"></label>
                    <textarea asp-for="Text" class="form-control" rows="5" cols="10"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
