@model IEnumerable<MovieLibrary.WebApp.Models.RatingDTO>

@{
    ViewData["Title"] = "RatingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Ratings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserNickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserNickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
        </tr>
}
    </tbody>
</table>
